body {
  background-color: rgb(69, 9, 65);
  padding: 10px;
  font-family: sans-serif;
}

#container {
  display: flex;
  justify-content: flex;
}

.mainorigin {
  display: flex;
  align-items: center;
  background-color: yellow;
  border: 5px solid lightskyblue;
  margin-left: 25rem;
  padding: 15px;
  border-radius: 5%;
}
